.Rproj.user
.Rhistory
.RData
.Ruserdata
Were_not_getting_any_younger_Or_should_that_be_older/life_expectancy_shiny_app/data/
Were_not_getting_any_younger_Or_should_that_be_older/life_expectancy_shiny_app/rsconnect/